<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/user']">POC</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="['/user']">User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/project']" >Project</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/task']">Tasks</a>
      </li>
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search a Project or task" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      <button class="btn btn-outline-success my-2 my-sm-0" type="button" [routerLink]="['/login']">Log Out</button>
      
    </form>
  </div>
</nav>
<hr/>