<app-header></app-header>

<div>
  
<div class="jumbotron" style="width: 48%;float:left;margin-left: 1%">
  <h1 class="display-4">Add A task</h1>
  
  <hr class="my-4">


  <form #taskForm="ngForm" (submit)="addTask()" >
    <div class="form-group">
      <label for="exampleInputEmail1"> Task Name</label>
      <input type="text" [(ngModel)]="task.task_name" class="form-control" name="taskName"id="exampleInputEmail1" 
      #taskName="ngModel" aria-describedby="emailHelp" placeholder="Enter Task Name">  
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Duration</label>
      <input type="text" name="managerName" [(ngModel)]="task.duration" #duration="ngModel" class="form-control" id="managerName" placeholder="Duration">
    </div>
    <div class="form-group">
      <label for="department">Description</label>
      <input type="text" name="department" [(ngModel)]="task.description" #description="ngModel" class="form-control" id="department" placeholder="Description">
    </div>
    <div class="form-group">
      <label for="department">Project Id</label>
      <input type="number" name="Designation" [(ngModel)]="task.project_id" #projectId="ngModel" class="form-control" id="Designation" placeholder="Project Id">
    </div>
    <div class="form-group">
      <label for="description">Reporter</label>
      <input type="number" name="Role" [(ngModel)]="task.reporter" #reporter="ngModel" class="form-control" id="description" placeholder="reporter">        
    </div>
    
     
    
    

    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>




</div>


<div class="jumbotron" style="width: 48%;float:left;margin-left: 1%">
  <h1 class="display-4">Current tasks</h1>
  
<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          task 1
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        DEtail 1
      </div>
    </div>
  </div>
 

 
</div>

</div>