

<app-header></app-header>
<div>
  
<div class="jumbotron" style="width: 48%;float:left;margin-left: 1%">
  <h1 class="display-4">Add A Project</h1>
  
  <hr class="my-4">


  <form #projectForm="ngForm" (submit)="addProject()" >
    <div class="form-group">
      <label for="exampleInputEmail1"> Project Name</label>
      <input type="text" [(ngModel)]="project.proj_name" class="form-control" name="projectName"id="exampleInputEmail1" 
      #projectName="ngModel" aria-describedby="emailHelp" placeholder="Enter Name">  
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Project Manager Name</label>
      <input type="text" name="managerName" [(ngModel)]="project.manager" #department="ngModel" class="form-control" id="managerName" placeholder="Manager Name">
    </div>
    <div class="form-group">
      <label for="department">Department Name</label>
      <input type="text" name="department" [(ngModel)]="project.department" #department="ngModel" class="form-control" id="department" placeholder="Department">
    </div>
    <div class="form-group">
      <label for="department">Owner Id</label>
      <input type="number" name="Owner" [(ngModel)]="project.owner_id" #ownerId="ngModel" class="form-control" id="ownerId" placeholder="ownerId (Numberic)">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea rows="3" type="text" name="description" [(ngModel)]="project.description" #description="ngModel" class="form-control" id="description" placeholder="Description">        </textarea>
    </div>
    <div class="form-group">
      <label for="description">Team</label>
      <input type="text" name="description" [(ngModel)]="project.team" #team="ngModel" class="form-control" id="team" placeholder="Team">
    </div>
    
     
    
    

    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>




</div>


<div class="jumbotron" style="width: 48%;float:left;margin-left: 1%">
  <h1 class="display-4">Current Projects</h1>
  
<div id="accordion">
  <div class="card" *ngFor="let project of allProjects; let i=index">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Project {{i+1}}
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <div class="table-row">
          <span class="left"><b>Name </b>: </span>
          <span class="right">{{project.proj_name}}</span>
        </div>
        <div class="table-row">
          <span class="left"><b>Department </b>: </span>
          <span class="right">{{project.department}}</span>
        </div>
        <div class="table-row">
          <span class="left"><b>Description </b>: </span>
          <span class="right">{{project.description}}</span>
        </div>
        <div class="table-row">
          <span class="left"><b>Team </b>: </span>
          <span class="right">{{project.team}}</span>
        </div>
        <div class="table-row">
          <span class="left"><b>Owner Id </b>: </span>
          <span class="right">{{project.owner_id}}</span>
        </div>
        <div class="table-row">
          <span class="left"><b>Manager </b>: </span>
          <span class="right">{{project.manager}}</span>
        </div>

      </div>
    </div>
  </div>
  
 
</div>

</div>