<app-header></app-header>

<div>
  
<div class="jumbotron" style="width: 48%;float:left;margin-left: 1%">
  <h1 class="display-4">Add A user</h1>
  
  <hr class="my-4">


  <form #userForm="ngForm" (submit)="addUser()" >
    <div class="form-group">
      <label for="exampleInputEmail1"> Name</label>
      <input type="text" [(ngModel)]="user.name" class="form-control" name="name"id="exampleInputEmail1" 
      #name="ngModel" aria-describedby="emailHelp" placeholder="Enter Name">  
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1"> Username</label>
      <input type="text" [(ngModel)]="user.username" class="form-control" name="userName"id="username" 
      #userName="ngModel" aria-describedby="emailHelp" placeholder="Enter Name">  
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1"> Password</label>
      <input type="text" [(ngModel)]="user.password" class="form-control" name="userName"id="password" 
      #password="ngModel" aria-describedby="emailHelp" placeholder="Password">  
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Email</label>
      <input type="text" name="managerName" [(ngModel)]="user.email" #email="ngModel" class="form-control" id="managerName" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="department">Mobile</label>
      <input type="number" name="department" [(ngModel)]="user.mobile" #mobile="ngModel" class="form-control" id="department" placeholder="Mobile">
    </div>
    <div class="form-group">
      <label for="department">Designation</label>
      <input type="text" name="Designation" [(ngModel)]="user.designation" #Designation="ngModel" class="form-control" id="Designation" placeholder="Designation">
    </div>
    <div class="form-group">
      <label for="description">Role</label>
      <input type="text" name="Role" [(ngModel)]="user.role" #role="ngModel" class="form-control" id="description" placeholder="Description">        
    </div>
    
     
    
    

    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>




</div>


<div class="jumbotron" style="width: 48%;float:left;margin-left: 1%">
  <h1 class="display-4">Current users</h1>
  
<div id="accordion">

  <div class="card" *ngFor="let user of allUsers; let i=index;">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          User {{i+1}}
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
       
        <div class="table-row">
          <span class="left"><b>Name </b>: </span>
          <span class="right">{{user.email}}</span>
        </div>

         <div class="table-row">
          <span class="left"><b>Email</b></span>
          <span class="right">{{user.email}}</span>
        </div>

         <div class="table-row">
          <span class="left"><b>Mobile</b></span>
          <span class="right">{{user.mobile}}</span>
        </div>
        
         <div class="table-row">
          <span class="left"><b>Designation</b></span>
          <span class="right">{{user.designation}}</span>
        </div>

         <div class="table-row">
          <span class="left"><b>Role</b></span>
          <span class="right">{{user.role}}</span>
        </div>
      </div>


  </div>
  
 
</div>

</div>